{% comment %}
    Displays about section from a document's front matter
{% endcomment %}

<section id="about" class="about">
    <div class="container">
        <div class="about_box">
            <h2>{{ page.about_heading }} </h2>
            <div class="about-description">{{ page.about_description }}</div>
        </div>
    </div>
    <div class="about_image fade animated slow" style="background:url('{{ page.about_image | absolute_url }}');background-size:cover"></div>
    <div class="clear"></div>
</section>
