{% comment %}
    Displays contact section
{% endcomment %}

<section id="contact" class="contact fade animated">
    <div class="container">
      <div class="contact_wrap">
        <div class="contact-left">
          <p>{{ page.contact_message }}</p>
        </div>
        <div class="contact-right">
          <form action="//formspree.io/michael@lakedesign.co" method="POST" class="contact-form">
            <input type="hidden" name="_subject" value="Information Rrequest" />
            <input type="text" name="Name" id="name" placeholder="Name" />
            <input type="email" name="Email" id="email" placeholder="Email" />
            <input type="phone" name="Phone" id="phone" placeholder="Phone" />
            <textarea name="Message" id="messagge" placeholder="Message"></textarea>
            <button type="submit" class="contact-form-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
</section>
