<footer class="site-footer">
	<div class="copyright">
        	<p> &copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved. Site by <a href="http://lakedesign.co" target="_blank">Lake Design</a><br></p>
	</div>
</footer>
<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="{{ "/js/jquery.waypoints.min.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "/js/custom.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
