{% comment %}
    Displays fund section
{% endcomment %}

<section id="fund" class="fund">
    <div class="container">
            <h2>{{ page.fund_heading }} </h2>
            <div class="fund-row">
              <p class="fund-left"><strong>Fund Size</strong></p>
              <p class="fund-right fund_size fade animated fadeInLeft">{{ page.fund_size }}</p>
            </div>
            <div class="fund-row">
              <p class="fund-left"><strong>Investment Size</strong></p>
              <p class="fund-right investment_size fade animated fadeInLeft">{{ page.investment_size }}</p>
            </div>
            <div class="fund-row">
              <p class="fund-left"><strong>Stage</strong></p>
              <p class="fund-right stage fade animated fadeInLeft">{{ page.stage }}</p>
            </div>
            <div class="fund-row">
              <p class="fund-left"><strong>Sectors</strong></p>
              <p class="fund-right sectors fade animated fadeInLeft">{{ page.sectors }}</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>
