<header class="plain-header">
	<div class="container pure-g hero-pad">
		<div class="pure-u-1 pure-u-md-1">
		{% if page.collection == 'people' and page.thumbnail and page.thumbnail != "" %}
			<div class="profile-photo">
			<img src="{{ page.thumbnail | absolute_url }}" alt="{{ page.title }}">
			</div>
		{% endif %}
			<h2 class="fade animated slow">{{ page.heading }}</h2>
			{% if page.sub_heading and page.sub_heading != "" %}
			<h3 class="fade animated slow">{{ page.sub_heading }}</h3>
		{% endif %}
		</div>
	</div>
	{% if page.hero_arrow %}
	<a class="hero-arrow fade animated slow" href="#about">
		<svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet" style="height: 50px;">
		<g fill="none" fill-rule="evenodd">
			<rect width="70" height="118" x="1.5" y="1.5" stroke="#000" stroke-width="3" rx="36"></rect>
			<circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#000"></circle>
		</g>
	</svg>
	</a>
	{% endif %}
</header>
