{% comment %}
    Displays portfolio from a document's front matter
{% endcomment %}

{% if portfolio %}
<section class="portfolio">
    <div class="container">
        {% for item in portfolio %}
        <div class="pure-u-1 pure-u-md-1-{{ forloop.length }}">
              <div class="company">
                  <div class="portfolio-logo"><img src="{{ item.company_logo | absolute_url }}" alt=""></div>
                  <h2>{{ item.company }}</h2>
                  <p>{{ item.description }}</p>
              </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
