{% comment %}
    Displays all of the people from the _people/ collection
{% endcomment %}

{% if page.show_staff %}
<section id="team" class="staff">
    <div class="container">
        <h2>Management Team</h2>
        <h3>We bring investment, experience, mentoring, and networking to our portfolio companies</h3>
        <div class="pure-u-1">
        {% assign people = (site.people | sort: 'order') %}
        {% for person in people %}
            <div class="person">
                <div class="person-img fade animated">
                    {% if person.thumbnail %}
                        <img alt="{{ person.title }}" src="{{ person.thumbnail | absolute_url }}">
                    {% else %}
                        <img alt="{{ person.title }}" src="{{ "/uploads/2019/05/28/img-placeholder.png" | absolute_url }}>
                    {% endif %}
                </div>
                <div class="person-info fade animated">
                    <a class="linked" href="{{ person.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                    {% if person.sub_heading %}
                    <h4>{{ person.sub_heading }}</h4>
                    {% endif %}
                    <h3>{{ person.title }}</h3>
                    <div class="person-content">
                        {{ person.content | strip_html }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}
