{% comment %}
    Displays all of the people from the _people/ collection
{% endcomment %}

{% if page.show_staff %}
<section id="team" class="staff">
    <div class="container pure-g">
        <div class="pure-u-1">
        {% assign people = (site.people | sort: 'order') %}
        {% for person in people %}
            <div class="person">
                {% if person.thumbnail %}
                    <img class="fade animated" alt="{{ person.title }}" src="{{ person.thumbnail | absolute_url }}">
                {% else %}
                    <img class="fade animated" alt="{{ person.title }}" src="{{ "/uploads/2019/05/28/img-placeholder.png" | absolute_url }}>
                {% endif %}
                <a class="linked" href="{{ person.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
                <div class="person-info fade animated">
                    <h3>{{ person.title }}</h3>
                    {% if person.sub_heading %}
                    <h4>{{ person.sub_heading }}</h4>
                    {% endif %}
                    <div class="person-content">
                        {{ person.content }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endif %}
