---
layout: home
---

{% comment %}
	layout for home page
{% endcomment %}

{% include head.html %}

{% include nav.html %}

<div class="bg-wrap" style="background: url(/uploads/2019/06/11/bgtest2.png);background-position: -629px -10px; background-repeat: no-repeat;background-size: 160%;min-height:1500px">

{% include hero.html %}
		
{% include about.html %}

{% include fund.html %}
	
</div>
		
{% include portfolio.html %}
		
{% include staff.html %}
		
{% include contact.html %}

{% include footer.html %}
