---
layout: news
---

{% comment %}
	layout for news page
{% endcomment %}

{% include head.html %}

{% include nav.html %}

{% include hero.html %}
		
<div class="container pure-g">
  <div class="pure-u-1">
      <div class="content content-narrow">
      {% for post in site.posts %}
        <div class="list-layout news-post">
          <h3 style="text-align:center"><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h3>
	  <p class="post-meta">{{ post.location }} - {{ post.date | date: "%B %-d, %Y" }}</p>
	  <p class="post-content">{{ post.excerpt | truncate: 150 }}</p>
          <a class="learn-more" href="{{ post.url }}">Learn More</a>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
		
{% include contact.html %}

{% include footer.html %}
