---
layout: news
---

{% comment %}
	layout for news page
{% endcomment %}

{% include head.html %}

{% include nav.html %}

{% include hero.html %}
		
<div class="container pure-g">
  <div class="pure-u-1">
      <div class="content content-narrow">
      {% for post in site.posts %}
        <div class="list-layout">
          <h3 style="text-align:center"><a href="{{ post.press_release_url | absolute_url }}">{{ post.title }}</a></h3>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
		
{% include contact.html %}

{% include footer.html %}
